@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	background-color: white;
	color:#232323;
	font-family: 'Lato', sans-serif;

}

h1 {
	font-size: 100px;
	margin: 44px 0;

}

h2{
	font-size: 24px;
	font-weight: bolder;
	font-style: italic;
}

p{
	font-weight: lighter;
}

ul{
	font-weight: lighter;
	text-decoration: none;
	list-style-type: none;
	padding: 0;
}

a{
	font-weight: lighter;

}

#email {
	text-decoration: underline;
	color: blue; 
}

#description {
	width: 500px;  
	line-height: 150%; 
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}


article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
