@import url('https://fonts.googleapis.com/css?family=Lato');

*{
	margin:0;
	padding:0;
	box-sizing:border-box; 

}

body {
	background-color: white;
	color:#232323;
	font-family: 'Lato', sans-serif;

}

h1 {
	font-size: 100px;
	margin: 44px 0;

}

h2{
	font-size: 24px;
	font-weight: bolder;
	font-style: italic;
}

p{
	font-weight: lighter;
}

ul{
	font-weight: lighter;
	text-decoration: none;
	list-style-type: none;
	padding: 0;
}

a{
	font-weight: lighter;

}
.clearfix:after {
	content: "";
	display:block;
	clear:both;
}
#email {
	text-decoration: underline;
	color: blue; 
}

#description {
	width: 500px;  
	line-height: 150%; 
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}


article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: violet;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: pink;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 62%;
	position:relative;
}

.overlap {
	position:absolute;
	top:50%;
	left: 25%;
	
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
