body {
	background-color: white;
	color:#232323;
	font-family: "Helvetica Neue";
}

h1 {
	font-size: 100px;

}

h2{
	font-size: 24px;
	font-weight: lighter;
	font-style: italic;

}

p{
	font-weight: lighter;
}

ul{
	font-weight: lighter;
}

a{
	font-weight: lighter;

}

#email {
	text-decoration: underline;
	color: blue; 
}

#description {
	line-height: 10%; 
}
